<!DOCTYPE html>
<html>
    <head>
        <base href="<%= process.env.PUBLIC_URL || '/' %>">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VTT</title>
    </head>
    <body>
        <h1>VTT Asset Manager</h1>
        <h2>Tokens</h2>
        <div id="token_container">
        </div>
        <h2>Items</h2>
        <div id="item_container">
        </div>
        <h2>Maps</h2>
        <div id="map_container">
        </div>
        <button>Back</button>
    </body>
</html>