<!DOCTYPE html>
<html>
    <head>
        <base href="<%= process.env.PUBLIC_URL || '/' %>">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VTT</title>
    </head>
    <body>
        <h1>VTT Home</h1>
        <h2>Player</h2>
        <h3>Open Campaigns</h3> <!--Currently open campaigns your invited to-->
        <div id="open_campaigns_container">
            <!--<div><p>Curse of Strahd</p><button>Connect</button></div>-->
        </div>
        
        <h2>Game Master</h2>
        <button>Manage Campaigns</button><br>
        <button>Manage Assets</button><br><br>

        <h2>VTT Account</h2>
        <button>Manage Account</button><br><br>
        <button>Logout</button>
    </body>
</html>