<!DOCTYPE html>
<html>
    <head>
        <base href="<%= process.env.PUBLIC_URL || '/' %>">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VTT</title>
    </head>
    <body>
        <h1>VTT Manage Account</h1>
        <form>
            <label for="username">Username</label>
            <input id="username" type="text">

            <label for="email">Email</label>
            <input id="email" type="email">

            <label for="password_1">Password</label>
            <input id="password_1" type="password">

            <label for="password_2">Confirm Password</label>
            <input id="password_2" type="password">

            <input type="submit" value="Update Account">
        </form>
        <button>Delete Account</button><br>
        <button>Back</button>
    </body>
</html>