<!DOCTYPE html>
<html>
    <head>
        <base href="<%= process.env.PUBLIC-URL || '/' %>">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VTT</title>
        <script src="/js/register.js" crossorigin="anonymous" defer></script>
    </head>
    <body>
        <h1>VTT Signup</h1>
        <form id="register-form">
            <label for="username-input">Username</label>
            <input id="username-input" type="text">

            <label for="email-input">Email</label>
            <input id="email-input" type="email" required>

            <label for="password-input">Password</label>
            <input id="password-input" type="password" required>
            <input id="password-peek" type="button" name="Show">

            <label for="password-confirm-input">Confirm Password</label>
            <input id="password-confirm-input" type="password" required>

            <input type="submit">
            <input type="clear">

            <input type="button" name="Login" onclick="document.location.replace('/login');">
        </form>
    </body>
</html>